tqdm==4.64.1
scikit-learn==1.2.0
phenopy==0.6.0
openpyxl==3.0.10
seaborn==0.12.0
scipy==1.9.1
matplotlib~=3.6.1
lime @ git+https://github.com/ldingemans/lime.git@3365ccee00664263d3be903f7a34fa49676a8f42
setuptools~=63.4.1
pillow~=9.2.0
torch==1.13.0
torchvision==0.14.0
menpo
opencv-python==4.5.5.62
click
onnx2torch==1.4.1
albumentations==1.2.1