name: CI

on:
    push:
      # Uncomment when we have `development` and remove `main`
#      branches: [ development ]
      branches: [ main ]
    pull_request:
      # Uncomment when we have `development`
#      branches: [ main, development ]
      branches: [ main ]

jobs:
    build:
      runs-on: ${{ matrix.os }}

      strategy:
        fail-fast: false
        matrix:
          os: [  ubuntu-latest ]
          python: [ "3.9" ]

      steps:
        - uses: actions/checkout@v2
        - name: Initialize Python ${{ matrix.python }}
          uses: actions/setup-python@v1
          with:
            python-version: ${{ matrix.python }}
        - name: Install package
          run: |
            python -m pip install --upgrade pip
            pip install .
            pip uninstall numpy
            pip install numpy
        - name: Run tests
          run: |
            python -m unittest discover -s phenoscore
