name: Run tutorial jupyter notebook

on:
    push:
      branches: [ development ]
    pull_request:
      branches: [ main, development ]

jobs:
    build:
      runs-on: ${{ matrix.os }}

      strategy:
        fail-fast: false
        matrix:
          os: [ ubuntu-latest ]
          python: [ "3.9" ]

      steps:
        - uses: actions/checkout@v2
        - name: Initialize Python ${{ matrix.python }}
          uses: actions/setup-python@v4.3.1
          with:
            python-version: ${{ matrix.python }}
        - name: Install packages
          run: |
            python -m pip install --upgrade pip jupyter
            pip install .
            python -m ipykernel install --user --name run-notebook --display-name "Run notebook"
            pip uninstall -y numpy
            pip install numpy==1.23.5
        - name: Run notebooks
          run: |
            jupyter execute --kernel_name run-notebook notebooks/tutorial.ipynb
